.menu {
    width: 100vw;
}
.menu__navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 40px;
}

.menu__navigation-items {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 14px;

    position: relative;
    transition: width 2s;

}
.menu__navigation-items::after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #F38120;
    display: block;
    content: "";
    height: 2px;
    width: 0;
    transition: width .3s ease-in-out;
}
.menu__navigation-items:focus::after,
.menu__navigation-items:hover::after {
    width: 100%;
}
.menu__under-line {
    border: 1px solid #1c1c1c;
    align-self: flex-end;
    position: absolute;
    width: 90vw;
    opacity: 0.07;
}
